name: kla_module
services:
  kla_module:
    container_name: kla_module
    image: ${IMAGE}
    build:
      context: .
      dockerfile: Dockerfile
      tags:
        - ${IMAGE}:latest
        - ${IMAGE}:dev
    command: python -m kla_rest_node --port 3015 --kla_url ${KLA_URL}
    env_file: .env
    volumes:
      - ./src:/home/app/kla_module/src
      - ./tests:/home/app/kla_module/tests
    ports:
      - 3015:3015